#country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.country {
    border: 1px solid;
    padding: 10px;
}
.single-country {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
}
img {
    /* background-color: gray; */
    padding: 20px;
}

span {
    font-weight: bold;
    color: darkslateblue
}
a {
    text-decoration: none;
    font-weight: 400;
    font-size: large;
    background-color: tomato;
    color: white;
    padding: 5px;
    border-radius: 2px;
}
a:hover {
    background-color: black;
}