#comment-container {
    max-width: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.card {
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 5px;
}
span {
    font-weight: 700;
}